<!-- NAVIGATION SECTION -->
<div class="navbar custom-navbar navbar-fixed-top top-nav-collapse" role="navigation">
     <div class="container">
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- LOGO -->
               <a href="{{ path('home') }}" class="navbar-brand"><img src="{{ asset('/images/logo1.webp') }}" class="navbar-logo" alt="Nydo logo"></a>
          </div>

          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a class="{{ linkScroll }} text-uppercase " href="{{ path('home') }}">Domů</a></li>
                    <li><a class="{{ linkScroll }} text-uppercase" href="{{ path('home') }}#about">O nás</a></li>
                    <li><a class="{{ linkScroll }} text-uppercase" href="{{ path('home') }}#work">Realizace</a></li>
                    <li><a class="{{ linkScroll }} text-uppercase " href="{{ path('home') }}#contact">Kontakt</a></li>
               </ul>
          </div>
     </div>
</div>

     