{% extends 'base.html.twig' %}

{% block title %}NYDO Development – Dáváme domům novou tvář{% endblock %}
{% block description %}Společnost NYDO se zaměřuje na revitalizaci starých domů, bytů a nebytových prostor. Zejména dává novou tvář starým hnízdečkům a dělá je tak atraktivnější.{% endblock %}

{% block body %}

<!-- FIRST IMAGE/VIDEO SECTION -->
<section id="homepage">
     <div class="row">
     <div id="header-image">
               {# <video width="100%" autoplay muted loop>
                    <source src="{{ asset('video/nydo.mp4') }}" type="video/mp4">
               </video> #}
          <img src="{{ asset('images/main-picture.webp') }}" alt="header" class="img-responsive">
     </div><!-- end header image -->
     </div><!-- end row -->
</section>

<!-- ABOUT SECTION -->
<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="about-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                              <h2 class="text-uppercase text-center">o nás</h2>
                         </div>
                         <div class="wow fadeInUp text-center" data-wow-delay="0.3s">
                              <p>Společnost NYDO již přes 4 roky nabízí komfortní bydlení v krásných lokalitách Brna a okolí.</p>
                              <p>Rekonstrukce pro nás nejsou pouze stavební činností nýbrž vášní, která je pro nás celoživotní cestou.</p>
                              <p>Nejčastěji renovujeme starší byty a domy, kterým se naopak snažíme vrátit jejich původní vytříbenost a kvalitu.</p>
                              <p>Základem pro nás byla Střední průmyslová škola i VUT stavební, které v nás nechaly značné znalosti, jak vše využít v praxi.</p>
                              <br><br>
                         </div>
                         <div class="row d-inline-flex text-center">
                              <div class="col-md-4 col-s-4 col-xs-4">
                                   <img src="{{ asset('images/ikona1.webp') }}" alt="ikona-machine" class="icons-about">
                              </div>
                              <div class="col-md-4 col-s-4 col-xs-4">
                                   <img src="{{ asset('images/ikona2.webp') }}" alt="ikona-person" class="icons-about">
                              </div>
                              <div class="col-md-4 col-s-4 col-xs-4">
                                   <img src="{{ asset('images/ikona3.webp') }}" alt="ikona-house" class="icons-about">
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </div>
</section>


<!-- REALIZACE SECTION -->
<section id="work">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                         <h2 class="text-uppercase text-center">realizace</h2>
                    </div>
               </div>
               {% for article in articles %}
               <div class="wow fadeInUp col-md-3 col-sm-6" data-wow-delay="0.4s">
                    <!-- REALIZACE THUMB -->
                    <div class="work-thumb">
                         <a href="{{ path('realizace', {'slug': article.slug}) }}">
                              <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="img-responsive" alt="Work">
                         </a>
                    </div>
                    <h4>{{ article.title }}</h4>
               </div>
               {% endfor %}
          </div>
     </div>
</section>


<!-- CONTACT SECTION -->
<section id="contact">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                         <h2 class="text-uppercase">kontakt</h2>
                    </div>
               </div>
               <div class="col-md-3 col-sm-12">
                    <img src="{{ asset('images/sebb1.webp') }}" style="width:100%; -webkit-filter:grayscale(100%);  filter: grayscale(100%);" alt="profile-picture">
               </div>
               <div class="col-md-9 col-sm-12">
                     <!-- CONTACT FORM  -->
                    <div class="dzFormMsg"></div>
                    <div class="wow fadeInUp" data-wow-delay="0.6s">
                        <form id="contact-form" method="post" class="dzForm" action="{{ path('contact') }}">
                        <input type="hidden" value="Contact" name="whichform" >
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" required class="form-control" name="firstname" id="firstname" placeholder="VAŠE JMÉNO">
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" required class="form-control" name="lastname" id="lastname" placeholder="VAŠE PŘÍJMENÍ">
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <input type="email" required class="form-control" name="email" id="email" placeholder="VÁŠ EMAIL">
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" required class="form-control" name="subject" id="subject" placeholder="PŘEDMĚT">
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea required class="form-control" rows="5" name="message" id="message" placeholder="ZPRÁVA"></textarea>
                              </div>
                              <div class="col-md-offset-9 col-md-3 col-sm-offset-3 col-sm-6">
                                   <button id="submit" type="submit" class="form-control" name="submit">Poslat zprávu</button>
                              </div>
                        </form>
                    </div>
               </div>
          </div>
     </div>
</section>

{#Footer#}
{% include 'site/footer.html.twig' %}


{% endblock %}



{% block javascripts%}

<!-- SCRIPTS -->
<script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('js/smoothscroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/magnific-popup-options.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/wow.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/dz.ajax.js') }}"></script><!-- Contact Us --> 
<script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>

<script>
 
{# TRADUCTION OF CONTACT FORM #}
     jQuery(document).ready(function() {
         var input = document.getElementById('lastname');
         input.oninvalid = function(event) {
             event.target.setCustomValidity('Příjmení je povinné!');
         }
          var input = document.getElementById('firstname');
         input.oninvalid = function(event) {
             event.target.setCustomValidity('Jméno je povinné!');
         }
          var input = document.getElementById('email');
         input.oninvalid = function(event) {
             event.target.setCustomValidity('Email je povinný!');
         }
          var input = document.getElementById('subject');
         input.oninvalid = function(event) {
             event.target.setCustomValidity('Předmět je povinný!');
         }
          var input = document.getElementById('message');
         input.oninvalid = function(event) {
             event.target.setCustomValidity('Zpráva je povinná!');
         }
     });	/*ready*/
 </script>
{% endblock %}

