{% extends '@EasyAdmin/default/edit.html.twig' %}
{% set content = entity %}

{% block content_title %}
<div class="content-header-title">
    <h1 class="text-center">{{ content.name }}</h1>
</div>
{% endblock %}

{% block entity_form %}
    {{ form_start(form) }}

        <div class="{{ not content.type is same as(0) ? 'd-none' }}">
            {{ form_row(form.text) }}
        </div>

        <div class="{{ not content.type is same as(1) ? 'd-none' }}">
            {# {{ form_row(form.contentImage) }} #}
            {{ form_row(form.imageFile)}}
        </div>
        
    {{ form_end(form) }}
    {# {{form(form)}} #}
{% endblock entity_form %}
